window {
  background: rgba(20, 20, 20, 0.95);
  border-radius: 0px;
  border: 1px solid rgba(80, 80, 80, 0.8);
  padding: 8px;
}

#container {
  margin: 0px;
  padding: 0px;
}

progressbar {
  padding: 0px;
  margin: 0px;
}

label {
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}

trough {
  background: rgba(40, 40, 40, 1);
  border-radius: 0px;
  min-height: 8px;
  min-width: 200px;
  border: 1px solid rgba(60, 60, 60, 1);
  margin: 0px;
  padding: 0px;
}

progress {
  background: rgba(160, 160, 160, 1);
  border-radius: 0px;
  min-height: 8px;
  margin: 0px;
  padding: 0px;
}

.notification image {
  object-fit: contain;
}

* {
  padding: 0px;
  margin: 0px;
}
