* {
  font-family: "Agave Nerd Font";
  font-weight: bolder;
  font-size: 12px;
  color: #dcdfe1;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#bluetooth,
#battery {
  margin: 0px 20px;
}

#pulseaudio {
  margin: 0px 15px 0px 10px;
}

#network {
  margin: 0px 5px 0px 0px;
}

#custpm-temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
}

#workspaces button.active {
  color: #61afef;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #888888;
  font-weight: bold;
}
